<!DOCTYPE html>
<html>
<head>
<head>
        <meta charset="utf-8">
    <title>订单确认</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link href="../../css/mobile/ionic.css" rel="stylesheet">
    <link href="../../css/app.css" rel="stylesheet">


    <script src="../../scripts/lib/ionic/ionic.bundle.js"></script>
    <script src="../../scripts/app.js"></script>

    <!-- Needed for Cordova/PhoneGap (will be a 404 during development) -->
    <script src="../../cordova.js"></script>
    </head>
<body ng-app="todo">
	<ion-header-bar class="bar-calm">
        <div class="row">
            <div class="col col-10"><i class="icon ion-chevron-left"></i></div>
            <div class="col col-30">订单确认</div>
        </div>
    </ion-header-bar>
    <ion-footer-bar class="bar-calm">
          
    </ion-footer-bar>
<ion-content>
    <div class="list">
        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-ios-location"></i>
          <p> 收货人：陈呵    13122392221</p>
          <p> 收货地址：华东理工大学</p>
          <i class="icon ion-chevron-right"></i>
        </a>

        <li class="item item-toggle">
           <i class="icon ion-reply"></i>
           菊之药
           <label class="toggle toggle-positive">
             订单号：5214568
           </label>
        </li>

        <li class="item item-cart">
           <img src="1.png">
           <h2>xxxx</h2>
           <p>price $22</p>
           <label class="btn">
                <button class="button button-small button-light">
                 删除
                </button>
        </label>
        </li>

        <li class="item item-cart">
           <img src="1.png">
           <h2>xxxx</h2>
           <p>price $22</p>
           <label class="btn">
                <button class="button button-small button-light">
                 删除
                </button>
        </label>
        </li>

        <a class="item item-icon-left item-icon-right" href="#">
        <div style="float:left">
          <br>收货人：陈呵    13122392221
          <br> 收货地址：华东理工大学
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>

        <div class="item">
         <a>给卖家留言:</a>
         <div style="float:right">
         <br>共6件商品 总计：￥551.0
         </div>
        </div>

      </div>
  </ion-content>
</body>
</html>