<!DOCTYPE html>
<html>
<head>
<head>
        <meta charset="utf-8">
    <title>订单确认</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link href="../../css/mobile/ionic.css" rel="stylesheet">
    <link href="../../css/app.css" rel="stylesheet">


    <script src="../../scripts/lib/ionic/ionic.bundle.js"></script>
    <script src="../../scripts/app.js"></script>
    <script src="../../scripts/lib/ionic/angular/angular.js"></script>
    <script src="../../scripts/an_js/orderconfer.js"></script>

    <!-- Needed for Cordova/PhoneGap (will be a 404 during development) -->
    <script src="../../cordova.js"></script>
    </head>
<body ng-app="todo">
	<ion-header-bar class="bar-calm">
        <div class="row">
            <div class="col col-10"><i class="icon ion-chevron-left"></i></div>
            <div class="col col-30">订单确认</div>
        </div>
    </ion-header-bar>
    <ion-footer-bar class="bar-calm">
          
    </ion-footer-bar>
<ion-content>
    <div class="list">
        <a class="item item-icon-left item-icon-right" href="#" ng-controller="PhoneListCtrl">
        <li  ng-repeat="item in phones">
          <i class="icon ion-ios-location"></i>
          <p> 收货人：{{item.username}}    {{item.userphonenumber}}</p>
          <p> 收货地址：{{item.receiveplace}}</p>
          <i class="icon ion-chevron-right"></i>
        </a>
        </li>

        <li class="item item-toggle" ng-repeat="item in phones">
           <i class="icon ion-reply"></i>
           {{item.name}}
           <label class="toggle toggle-positive">
             订单号：{{item.number}}
           </label>
        </li>

        <li class="item item-cart" ng-repeat="item in phones">
           <img src="1.png">
           <h2>{{item.medicine_name}}</h2>
           <p>price ￥{{item.price}}</p>
           <label class="btn">
                <button class="button button-small button-light">
                 删除
                </button>
        </label>
        </li>

        <div class="item" ng-repeat="item in phones">
         <a>给卖家留言:</a>
         <div style="float:right">
         <br>共{{item.count}}件商品 总计：￥{{item.total_price}}
         </div>
        </div>

      </div>
  </ion-content>
</body>
</html>