<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>收货地址</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">


    <link href="../../css/mobile/ionic.css" rel="stylesheet">

    <script src="../../scripts/lib/ionic/ionic.bundle.js"></script>
    <script src="../../scripts/app.js"></script>
    <script src="../../scripts/lib/ionic/angular/angular.js"></script>
    <script src="../../scripts/an_js/receiveaddress.js"></script>

    <!-- Needed for Cordova/PhoneGap (will be a 404 during development) -->
    <script src="cordova.js"></script>
</head>

<body ng-app="appModule">
    <ion-header-bar class="bar-calm">
        <div class="row">
            <div class="col col-10"><i class="icon ion-star"></i></div>
            <div class="col col-90">收货地址管理</div>
        </div>
    </ion-header-bar>

    <ion-footer-bar class="bar-calm">
        <a class="tab-item" href="../../index.html">
            <i class="icon ion-home"></i>
            Home
        </a>
        <a class="tab-item" href="mine.html">
            <i class="icon ion-star"></i>
            Favorites
        </a>
        <a class="tab-item" href="more.html">
            <i class="icon ion-gear-a"></i>
            Settings
        </a>
    </ion-footer-bar>

    <ion-content ng-app>
        <button class="button">
            保存
        </button>
    </ion-content>
</body>
</html>

