<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>商品</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">


    <link href="../../css/mobile/ionic.css" rel="stylesheet">

    <script src="../../scripts/lib/ionic/ionic.bundle.js"></script>
    <script src="../../scripts/app.js"></script>


    <!-- Needed for Cordova/PhoneGap (will be a 404 during development) -->
    <script src="cordova.js"></script>
</head>
    <!-- ZXQ-04-12修改 -->
<body ng-app="appModule">
    <ion-header-bar class="bar-calm">
        <div class="row">
        <div class="col col-10"><i class="icon ion-star"></i></div>
        <div class="col col-70">全部药店</div>
        <div class="col col-10"><i class="icon ion-ios-location"></i></div>
        <div class="col col-10"><i class="icon ion-ios-search-strong"></i></div>
        </div>
    </ion-header-bar>

    <ion-footer-bar class="bar-calm">
        <a class="tab-item" href="../../index.html">
            <i class="icon ion-home"></i>
            Home
        </a>
        <a class="tab-item" href="mine.html">
            <i class="icon ion-star"></i>
            Favorites
        </a>
        <a class="tab-item" href="more.html">
            <i class="icon ion-gear-a"></i>
            Settings
        </a>
    </ion-footer-bar>
    <ion-content>

        <div class="row">
            <div class="col col-50">全城</div>
            <div class="col col-50">离我最近</div>
        </div>

        <div class="row ">
                <div class="col-90">上海 奉献 华东理工大学</div>
                <div class="col-10"><i class="icon ion-ios-loop-strong"></i></div>
            </div>
        <div class="list" ng-controller="ShopListCtrl">
            <a class="item item-thumbnail-left" href="yao.html" ng-repeat="shop in data">
                <img src="1.png">
                <h2>{{shop.name}}</h2>
                <p>1021评价<br>1000</p>
            </a>
        </div>

    </ion-content>
</body>
</html>

