<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>药</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link href="../../css/mobile/ionic.css" rel="stylesheet">

    <script src="../../scripts/lib/ionic/ionic.bundle.js"></script>
    <script src="../../scripts/app.js"></script>

    <!-- Needed for Cordova/PhoneGap (will be a 404 during development) -->
    <script src="../../cordova.js"></script>
</head>
    <!-- ZXQ-04-12修改 -->
<body ng-app="todo">
    <ion-header-bar class="bar-calm">
        <div class="row">
        <div class="col col-10"><i class="icon ion-star"></i></div>
        <div class="col col-60">菊之药</div>
        <div class="col col-10"><i class="icon ion-ios-location"></i></div>
        <div class="col col-10"><i class="icon ion-ios-search-strong"></i></div>
        <div class="col col-10"><i class="icon ion-ios-search-strong"></i></div>
        </div>
    </ion-header-bar>

    <ion-content>
        <div class="list card">
          <div class="item item-image">
            <img src="1.png" height="170">
          </div>
          <div>
            999感冒灵<br>
            解热镇痛<br>
          </div>
          <div class="row">
          <div class="col col-50">500盒</div>
          <div class="col col-50"><button class="button button-light">加入购物车</button></div>
          

        </div>




</ion-content>
</body>
</html>

